<ion-header class="ion-no-border">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="seller/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="productForm" (ngSubmit)="createProduct()">
    <div class="form__img--box">
      <img class="form__img--box-img form__img--box-img-create" src="https://i.pinimg.com/originals/2d/b8/18/2db818297d1cac3289cf34537d988856.png" alt="">
      <div class="form__img--box-label form__img--box-label-create">
        Online Grocery
      </div>
    </div>
    <ion-item lines="full">
      <ion-label position="stacked"> Name </ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked"> Price </ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked"> Description </ion-label>
      <ion-textarea formControlName="description" rows="6"></ion-textarea>
    </ion-item>

    <ion-button [disabled]="!productForm.valid" class="form__buttons" expand="block" type="submit">Create Product</ion-button>

  </form>
</ion-content>
