<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sell products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="seller__card" *ngFor="let product of products">
        <img class="seller__card--image"*ngIf="product.data.img" [src]="product.data.img" alt="">
          <div class="seller__card--box">
            <div class="seller__card--box-left">
              <span class="seller__card--box-left-header">{{ product.data.name | uppercase}}</span>
              <span class="seller__card--box-left-price">{{ product.data.price | currency:'USD'}}</span>
            </div>
          <ion-button color="dark" fill="clear" (click)="delete(product.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>
    </ion-card>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="new">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
