ion-item{
  padding: 0 2rem;
}
// FLIP CARD EFFECT
.login__flip{
  &--container {
    perspective: 1000px;
    width: 100%;
    height: 500px;
  }
  &--container.flip 
  &--flipper {
  transform: rotateY(180deg);
  &-front,
  &-back {
    width: 100%;
    height: 500px;
  }
  } 
  &--flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    &-front,
    &-back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-front {
      z-index: 2;
    }
    &-back {
      transform: rotateY(180deg);
    }
  }
}